// Navigation Styles here

header {
    .flex-justbtwn();
    border-bottom: 2px dashed @navigation-border;
    padding: 5%;

    div {
        .flex-justbtwn();
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    nav {
        .flex-justbtwn();
        width: 40%;
        align-self: center;
        
        a {
            text-decoration: none;
            font-size: 1.6rem;
            color: black;
        }
    }
}